<nav class="header">
    <div class="menu-and-logo">
        <div class="menu-button-container">
             <i class="menu-button w3-xlarge fa-solid fa-bars"></i>
        </div>
        <div class="logo-content">
            <a class="icon-redirect" href="/"><i class="logo-icon w3-xlarge fa-brands fa-youtube" style="color:#FF0000"></i></a>
            <a class="icon-redirect" href="/"><div class="logo-title">YouTube</div></a>
            
        </div>
    </div>  
    <div class="search-bar">
        <form class="search-bar-form" method="GET" action="/results">
            <input class="search-input-box" type="text" id="search_query" name="search_query" placeholder="Search"> 
            <button class="search-button glass fa-solid fa-magnifying-glass"></button> 
        </form>
        <i class="w3-large fa-solid fa-microphone"></i>
    </div>
    <div class="nav-icons">
        <i class="i w3-xlarge fa-solid fa-video"></i>
        <i class="i w3-xlarge fa-solid fa-grip"></i>
        <i class="i w3-xlarge fa-solid fa-bell"></i>
        <i class="i w3-xlarge fa-solid fa-user"></i>
    </div>
</nav>