
<nav class="header">
    <div class="menu-and-logo">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-brands fa-youtube" style="color:#FF0000"></i>YouTube
    </div>  
    <div class="search-bar">
        <form class="search-bar-form" method="GET" action="/results">
            <input type="text" id="search_query" name="search_query" placeholder="Search"> 
            <button><i class="glass fa-solid fa-magnifying-glass"></i></button> 
            <i class="fa-solid fa-microphone"></i>
        </form>
    </div>
    <div class="nav-icons">
        <i class="i fa-solid fa-user"></i>
        <i class="i fa-solid fa-bell"></i>
        <i class="i fa-solid fa-grip"></i>
        <i class="i fa-solid fa-video"></i>
    </div>
</nav>