<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a2ea15f2f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main2.css">
</head>
<body>

<div class="grid-container">
  <div class="item1">    <nav>
    <div class="header">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-brands fa-youtube" style="color:red"></i>YouTube
        <div class="wrapper">
            <input type="text" placeholder="Search"> 
            <button><i class="glass fa-solid fa-magnifying-glass"></i></button> 
        </div>
        <i class="fa-solid fa-microphone" style="background:light-blue"></i>
        <i class="i fa-solid fa-user"></i>
        <i class="i fa-solid fa-video"></i>
        <i class="i fa-solid fa-grip"></i>
        <i class="i fa-solid fa-bell"></i>
        

    </div>
</nav></div>
  <div class="item2">Menu
      
      <li>Hi</li>
      <li>Here</li>
      <li>You</li>
  </div>
  <div class="item3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, 
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, 
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, 
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    
    
    
    </div>  
</div>
</body>
</html>