<div class="grid-container">
    <div class="item1">    
        <nav>
      <div class="header">
          <div class="test">

              <i class="fa-solid fa-bars"></i>
              <i class="fa-brands fa-youtube" style="color:red"></i>YouTube
          </div>
          <div class="wrapper">
              <input type="text" placeholder="Search"> 
              <button><i class="glass fa-solid fa-magnifying-glass"></i></button> 
          </div>
          <i class="fa-solid fa-microphone" style="background:light-blue"></i>
          <i class="i fa-solid fa-user"></i>
          <i class="i fa-solid fa-bell"></i>
          <i class="i fa-solid fa-grip"></i>
          <i class="i fa-solid fa-video"></i>
          
  
      </div>
  </nav>
  </div>