<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a2ea15f2f7.js" crossorigin="anonymous"></script>
</head>
<nav>
    <div class="header">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-brands fa-youtube" style="color:red"></i>YouTube
        <div class="wrapper">
            <input type="text" placeholder="Search"> 
            <button><i class="glass fa-solid fa-magnifying-glass"></i></button> 
        </div>
        <i class="fa-solid fa-microphone" style="background:light-blue"></i>
        <i class="i fa-solid fa-user"></i>
        <i class="i fa-solid fa-video"></i>
        <i class="i fa-solid fa-grip"></i>
        <i class="i fa-solid fa-bell"></i>
        

    </div>
</nav>

<body>

    
    <div class="sidebar"> </div>
    <div class="filter"></div>
    <div class="listings"></div>
</body>
</html>