<div class="grid-container">
    <div class="nav-bar">    
    <nav>
        <div class="header">
            <div class="test">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-brands fa-youtube" style="color:#FF0000"></i>YouTube
            </div>
            <div class="wrapper">
                <form class="search-bar" method="GET" action="/results">
                    <input type="text" id="search_query" name="search_query" placeholder="Search"> 
                    <button><i class="glass fa-solid fa-magnifying-glass"></i></button> 
                </form>
            </div>
            <i class="fa-solid fa-microphone"></i>
            <i class="i fa-solid fa-user"></i>
            <i class="i fa-solid fa-bell"></i>
            <i class="i fa-solid fa-grip"></i>
            <i class="i fa-solid fa-video"></i>
        </div>
    </nav>
</div>