<div class="side-bar">
  <!-- What is this class test? --> 
    <div class="sidenav">
        <!--<a href="/"><button class="list"><i class="icon fa-solid fa-house"></i>Home</button></a></li> -->

        <div class="tab">
            <i class="icon w3-large fa-solid fa-house"></i>
            <h6 class="tab-label">Home</h6>
        </div>

        <div class="tab">
            <i class="icon w3-large fa-solid fa-compass"></i>
            <h6 class="tab-label">Explore</h6> 
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-forward"></i>
           <h6 class="tab-label">Shorts</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-address-book"></i>
           <h6 class="tab-label">Subscriptions</h6>
        </div>

        <hr class="seperator">
        <div class="tab">
           <i class="icon w3-large fa-solid fa-book-open"></i>
           <h6 class="tab-label">Library</h6>
        </div>

        <div class="tab">
            <i class="icon w3-large fa-solid fa-clock-rotate-left"></i>
            <h6 class="tab-label">History</h6> 
        </div>

        <div class="tab">
           <i class="icon w3-large fa-brands fa-youtube"></i>
           <h6 class="tab-label">Your videos</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-film"></i>
           <h6 class="tab-label">Your movies</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-film"></i>
           <h6 class="tab-label">Watch Later</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-clock"></i>
           <h6 class="tab-label">Playlist 1</h6>
        </div>

        <hr class="seperator">
        <h6 class="tab-title">SUBSCRIPTIONS</h6>
        <div class="tab">
           <i class="icon w3-large fa-solid fa-user-astronaut"></i>
           <h6 class="tab-label">Cooper</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-user-astronaut"></i>
           <h6 class="tab-label">Jesse</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-user-astronaut"></i>
           <h6 class="tab-label">Jaylen</h6>
        </div>

        <hr class="seperator">
        <h6 class="tab-title">MORE FROM YOUTUBE</h6>
        <div class="tab">
           <i class="icon w3-large fa-brands fa-youtube"></i>
           <h6 class="tab-label">YouTube Premium</h6> 
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-film"></i>
           <h6 class="tab-label">Movies & Shows</h6>  
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-gamepad"></i>
           <h6 class="tab-label">Gaming</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-satellite-dish"></i>
           <h6 class="tab-label">Live</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-trophy"></i>
           <h6 class="tab-label">Sports</h6>
        </div>

        <hr class="seperator">
        <div class="tab">
           <i class="icon w3-large fa-solid fa-gear"></i>
           <h6 class="tab-label">Settings</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-flag"></i>
           <h6 class="tab-label">Report History</h6> 
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-circle-question"></i>
           <h6 class="tab-label">Help</h6>
        </div>

        <div class="tab">
           <i class="icon w3-large fa-solid fa-circle-exclamation"> </i>
           <h6 class="tab-label">Send feedback</h6> 
        </div>

        <hr class="seperator">
        <div class="sidebar_foot">
            <p class="footer-notes">About Press Copyright</p>
            <p class="footer-notes">Contact us Creators</p>
            <p class="footer-notes">Advertise Developers</p>  
            <p class="footer-notes">Terms Privacy Policy & Safety</p>
            <p class="footer-notes">How YouTube Works</p>
            <p class="footer-notes">Test new features</>
            <div class="copyright">

            © 2022 General Assembly
            </div>
        </div>
    </div>
</div>