<div class="side-bar">
  <!-- What is this class test? --> 
    <div class="sidenav">
        <!--<a href="/"><button class="list"><i class="fa-solid fa-house"></i>Home</button></a></li> -->

        <div class="tab">
            <i class="w3-large fa-solid fa-house"></i>
            <h6>Home</h6>
        </div>

        <div class="tab">
            <i class="w3-large fa-solid fa-compass"></i>
            <h6>Explore</h6> 
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-forward"></i>
           <h6>Shorts</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-address-book"></i>
           <h6>Subscriptions</h6>
        </div>

        <hr>
        <div class="tab">
           <i class="w3-large fa-solid fa-book-open"></i>
           <h6>Library</h6>
        </div>

        <div class="tab">
            <i class="w3-large fa-solid fa-clock-rotate-left"></i>
            <h6>History</h6> 
        </div>

        <div class="tab">
           <i class="w3-large fa-brands fa-youtube"></i>
           <h6>Your videos</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-film"></i>
           <h6>Your movies</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-film"></i>
           <h6>Watch Later</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-clock"></i>
           <h6>Playlist 1</h6>
        </div>

        <hr>
        Subscriptions
        <div class="tab">
           <i class="w3-large fa-solid fa-user-astronaut"></i>
           <h6>Cooper</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-user-astronaut"></i>
           <h6>Jesse</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-user-astronaut"></i>
           <h6>Jaylen</h6>
        </div>

        <hr>
        More From YouTube
        <div class="tab">
           <i class="w3-large fa-brands fa-youtube"></i>
           <h6>YouTube Premium</h6> 
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-film"></i>
           <h6>Movies & Shows</h6>  
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-gamepad"></i>
           <h6>Gaming</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-satellite-dish"></i>
           <h6>Live</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-trophy"></i>
           <h6>Sports</h6>
        </div>

        <hr>
        <div class="tab">
           <i class="w3-large fa-solid fa-gear"></i>
           <h6>Settings</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-flag"></i>
           <h6>Report History</h6> 
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-circle-question"></i>
           <h6>Help</h6>
        </div>

        <div class="tab">
           <i class="w3-large fa-solid fa-circle-exclamation"> </i>
           <h6>Send feedback</h6> 
        </div>

        <hr>
        <div class="sidebar_foot">
            <p>About Press Copyright</p>
            <p>Contact us Creators</p>
            <p>Advertise Developers</p>
          
            <p>Terms Privacy Policy & Safety</p>
            <p>How YouTube Works</p>
            <p>Test new features</>
            <div class="copyright">

            © 2022 General Assembly
            </div>
        </div>
    </div>
</div>