<div class="side-bar">
  <!-- What is this class test? --> 
    <div class="sidenav">
        <!-- <li><a href="/"><button class="list"><i class="fa-solid fa-house"></i>Home</button></a></li> -->
        <li> <i class="fa-solid fa-house"></i>Home</li>
        <li> <i class="fa-solid fa-compass"></i> Explore</li>
        <li><i class="fa-solid fa-forward"></i>Shorts</li>
        <li><i class="fa-solid fa-address-book"></i>Subscriptions</li>
        <hr>
        <li><i class="fa-solid fa-book-open"></i>Library</li> 
        <li> <i class="fa-solid fa-clock-rotate-left"></i> History</li>
        <li><i class="fa-brands fa-youtube"></i>Your videos</li>
        <li><i class="fa-solid fa-film"></i>Your movies</li>
        <li><i class="fa-solid fa-film"></i>Movies & Shows</li>
        <li><i class="fa-solid fa-clock"></i>Watch later</li>
        <hr>
        Subscriptions
        <li><i class="fa-solid fa-user-astronaut"></i>Cooper</li>
        <li><i class="fa-solid fa-user-astronaut"></i>Jesse</li>
        <li><i class="fa-solid fa-user-astronaut"></i>Jaylen</li>
        <hr>
        More From YouTube
        <li><i class="fa-brands fa-youtube"></i>YouTube Premium</li>
        <li><i class="fa-solid fa-film"></i>Movies & Shows</li>
        <li><i class="fa-solid fa-gamepad"></i>Gaming</li>
        <li><i class="fa-solid fa-satellite-dish"></i>Live</li>
        <li><i class="fa-solid fa-trophy"></i>Sports</li>
        <hr>
        <li><i class="fa-solid fa-gear"></i>Settings</li>
        <li><i class="fa-solid fa-flag"></i>Report History</li>
        <li><i class="fa-solid fa-circle-question"></i>Help</li>
        <li><i class="fa-solid fa-circle-exclamation"></i>Send feedback</li>
        <hr>
        <div class="sidebar_foot">
            <p>About Press Copyright</p>
            <p>Contact us Creators</p>
            <p>Advertise Developers</p>
          
            <p>Terms Privacy Policy & Safety</p>
            <p>How YouTube Works</p>
            <p>Test new features</>
            <div class="copyright">

            © 2022 General Assembly
            </div>
        </div>
    </div>
</div>