<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     
    <!-- Scripts Links FontStyles -->
    <script src="https://kit.fontawesome.com/a2ea15f2f7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=League+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <%-include('partials/nav.ejs') %>
</head>
<body>


  <div class="item2">
      <div class="sidenav">


          <li> <i class="fa-solid fa-house"></i> Home</li>
          <li> <i class="fa-solid fa-compass"></i> Explore</li>
          <li><i class="fa-solid fa-forward"></i>Shorts</li>
          <li><i class="fa-solid fa-address-book"></i>Subscriptions</li>
          <hr>
          <li><i class="fa-solid fa-book-open"></i>Library</li> 
          <li> <i class="fa-solid fa-clock-rotate-left"></i> History</li>
          <li><i class="fa-brands fa-youtube"></i>Your videos</li>
          <li><i class="fa-solid fa-film"></i>Your movies</li>
          <li><i class="fa-solid fa-film"></i>Movies & Shows</li>
          <li><i class="fa-solid fa-clock"></i>Watch later</li>
          <hr>
          Subscriptions
          <li><i class="fa-solid fa-user-astronaut"></i>Cooper</li>
          <li><i class="fa-solid fa-user-astronaut"></i>Jesse</li>
          <li><i class="fa-solid fa-user-astronaut"></i>Jaylen</li>
          <hr>
          More From YouTube
          <li><i class="fa-brands fa-youtube"></i>YouTube Premium</li>
          <li><i class="fa-solid fa-film"></i>Movies & Shows</li>
          <li><i class="fa-solid fa-gamepad"></i>Gaming</li>
          <li><i class="fa-solid fa-satellite-dish"></i>Live</li>
          <li><i class="fa-solid fa-trophy"></i>Sports</li>
          <hr>
          <li><i class="fa-solid fa-gear"></i>Settings</li>
          <li><i class="fa-solid fa-flag"></i>Report History</li>
          <li><i class="fa-solid fa-circle-question"></i>Help</li>
          <li><i class="fa-solid fa-circle-exclamation"></i>Send feedback</li>
          <hr>
          <div class="sidebar_foot">
            <p>About Press Copyright</p>
            <p>Contact us Creators</p>
            <p>Advertise Developers</p>
            
            <p>Terms Privacy Policy & Safety</p>
            <p>How YouTube Works</p>
            <p>Test new features</p>
            <div class="copyright">

              © 2022 General Assembly
            </div>
          </div>




      </div>
   

      
     
  </div>
  <div class="item3">
      <div>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>

      </div>
    
    
    </div>  
</div>
</body>
</html>