<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="styles/results.css">
    <!-- Stylesheet References -->
    <%-include('partials/links.ejs')%>
    <!-- Nav Bar Reference -->
    <%-include('partials/header.ejs')%>
</head>
<body>
  <!-- Side bar Reference -->
    <%-include('partials/sidenav.ejs')%>
    <div class="main-content">
      <div class="video-results">
        <% for (let i = 0; i < videos.length; i++) {%>
          <% const video = videos[i] %>
              <div class="video-card">
              <!-- <iframe width="420" height="315"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe> -->
              <span class="artistTitle">Artist: Title</span> 
              <br>
              2views <%=new Date().toLocaleDateString()%>
              <br>
              <br>
              <p><img class= "profileimg" src="https://cdn.shopify.com/s/files/1/0518/7785/articles/Untitled_design-6.png?v=1609312268" alt="artist profile picture"></p> 
              <p>Artist</p>
                <br>
                <p>Description Goes Here</p>
            </div>     
      </div>
    </div>
    <% } %>
</body>
</html>