<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/show.css">
    <%-include('partials/links.ejs')%>
    <%-include('partials/nav.ejs')%>
</head>
<body>
    <div class="item3">
        <div class="showVid">
            <iframe width="100%" height="550px" src="https://www.youtube.com/embed/F9ldojZWBiM" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
  
        </div>
      
      
      </div>  
  </div>
    
</body>
</html>