.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    top: 0px;
    position: fixed;
}
.nav-icons, .search-bar, .menu-and-logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.search-bar{
    width: 50%;
}
.nav-icons, .menu-and-logo{
    width: 20%;
    display: flex;
}
.nav-icons i{
    width: 20%;
}

