/* Header is the parent class which is split into two primary divs, the search-bar and the nav-icons */


/* Header Parent Class Styling*/
.header {
    grid-area: header;
}
.header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "search-bar nav-icons";
    background-color: red;
}
.header > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* Search Bar Class Styling */
.search-bar {
    display: flex;
    justify-content: center;
    /* border:1px solid #000; */
    /* display:inline-block; */
}

/* Nav Icons Class Styling */
.nav-icons {
    grid-area: nav-icons;
    display:flex;
}
input,text{
    width: 450px;
    font-size: 1.25rem;
}
