@import "header.css";
@import "sideBar.css";
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.main{
    height: 90vh;
    display: flex;
    background-color: rgb(249,249,249);
    justify-content: space-between;
}
.tags{
    display: flex;
    height: 8%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: solid .09vh lightgray;
    border-top: solid .09vh lightgray;
    margin-bottom: 1.5vh;
}
.tag{
    display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    border: none;
    padding: 0 1%;
    margin: 1% 1%;
    width: fit-content;
    line-height: 1;
    height: 70%;
    font-size: 12px;
    
}
.tag:hover{
    background-color: rgb(215, 215, 215);
}
.video-content{
    width: 85vw;
}

.video-display{
    width: 100%;
    height: 90%;
    margin-top: 2%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video-card{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: calc(25% - 20px);
    overflow: hidden;
}
.video-card-img-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-card-img{
    height: 135%;
}

.video-card-info{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.video-title-container{
    height: 33%;
}
.video-title{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 525;
    margin-bottom: .1%;
}
.view-and-date-container{
    height: 33%;
}
.view-and-date{
    font-size: 12px;
}
.video-card:hover{
    transform: scale(1.08);
}


