/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#282828;
}

/* Grid Container  */
.item1 { grid-area: header; }
.item2 { grid-area: menu;}
.item3 { grid-area: main; }


.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'menu footer footer footer footer footer';
gap: 20px;
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}

/* Search Bar */
input,text{
  width: 450px;
  font-size: 1.25rem;
}
.wrapper {
  border:1px solid #000;
  display:inline-block;
}


input,
button {
  background-color:transparent;
  border:0;
}

/* List Style */
li{
  list-style: none;
  padding: 10px 0;
}


.i{
  padding: 0px 30px;
  float:right;
}
/* NavBar Youtube Logo Padding */

.test{
  float: left;
  font-family: 'League Gothic', sans-serif;
  
  
}

.fa-bars{
  padding: 0 25px;
}

.glass{
  font-size: 2rem;
  
}

/* SideNav */
.sidenav{
  font-size: 1rem;
  padding: 10px;
  text-align: left;
}

.sidenav li:hover{
  background-color: #F4F4F4;
}

.sidenav i{
  padding-left: 15px;
  float: left;
  padding-right: 15px;
}

.copyright{
  font-size: .7rem;
}

.sidebar_foot{
  font-size:.7rem;
  padding: 10px;
}

/* Tag Button */
#tagButton button{
  background-color:#F4F4F4;
  color:#808080;
  margin: 0 15px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%
}

#tagButton button:hover{
  background-color:#e0e0e0;
}
