/* Imports */
@import "header.css";
@import "sideBar.css";
/* The Body is the parent container for the 4 main divs of main.ejs: header, tags, side-bar, and list-of-videos */
/* These 4 divs fill the body's grid and have sub divs within them. */
:root {

}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#282828;
  height: 100vh;
  display: grid;
  grid-template-columns: .71fr 5fr;
  grid-template-rows: .32fr .32fr 5fr;
  grid-template-areas:
  "side-bar header"
  "side-bar tag-buttons"
  "side-bar main";
}
/* Define the grid template areas here */
.side-bar {grid-area: side-bar}
.tag-buttons {grid-area: tag-buttons}
.list-of-videos {
  grid-area: main;
  margin-left: 1.7vw;
  margin-top: 1.7vw;
}

/* Main Content is the Parent Div of list-of videos */
.list-of-videos {
  display: grid;
  gap:.8vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.tag-buttons {
  background-color:#F4F4F4;
  color:#6d6d6d;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
  border-top: 1px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}
.tag:hover{
  background-color:#e0e0e0;
}
.video-card{
  /* height:302px;
  width: 360px;
  font-size: 1.17em;
  margin-top: 10px;
  margin-right: 25px; */
}
.video-card {
  width: 20vw;
  height: 50vh;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas:
  "image-window image-window image-window"
  "channel-picture video-title video-title"
  ". channel-info .";
}
.video-thumbnail {
  width: 20vw;
  height: 39vh;
}
.video-title {
  grid-area: video-title;
}
.channel-info {
  grid-area: channel-info;
  overflow: hidden;
}
/* 
.thumbnail-image {
  width: 100px;
  height: 100px;
} */

input,
button {
  background-color:transparent;
  border:0;
}

li{ 
  list-style: none;
  padding: 10px 0;
}

.i {

  padding: 0px 30px;
}

img{
  /* position: absolute; */
  /* height: 276px; */
  /* width: 200px; */
  /* margin-top: -34px; */
}

.image-window {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image-window;
  /* height: 207px; */
  overflow: hidden;
  /* position: relative; */
}



.channel-picture {
  grid-area: channel-picture;
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* float: left; */
  /* margin-right: 5px; */
}
#channel-picture {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 10px;
}
 .video-info{
  float: left;
  /* margin-top: 5px; */
 }

 p1{
   font-size: .8rem;
   color: rgb(77, 77, 77);
 }
p2 {
  /* margin-left: 48px; */
  font-size: .8rem;
  color: rgb(77, 77, 77);
}
 