/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#282828;
  height: 100vh;
  display: grid;
  /* grid-template-columns: .71fr 5fr;
  grid-template-rows: .32fr .32fr 5fr; */
  grid-template-areas:
  "side-bar header"
  "side-bar tag-buttons"
  "side-bar main";
}

/* Grid Container  */
.header {
  grid-area: header;
  height: 56px;
}
.side-bar {grid-area: side-bar}
.tag-buttons {grid-area: tag-buttons}
.main-content {
  grid-area: main;
  margin-left: 85px;
}


.header {
display: grid;
grid-template-columns: 4fr 1fr;
grid-template-rows: 1fr;
grid-template-areas:
"search-bar nav-icons";
background-color: red;
}

.header > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}
.nav-icons {
  grid-area: nav-icons;
  display:flex;
}
/* Search Bar */
input,text{
  width: 450px;
  font-size: 1.25rem;
}
.search-bar {
  display: flex;
  justify-content: center;
  /* border:1px solid #000; */
  /* display:inline-block; */
}

.list-of-videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.video-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.thumbnail-image {
  width: 100px;
  height: 100px;
}
input,
button {
  background-color:transparent;
  border:0;
}

/* List Style */
li{
  list-style: none;
  padding: 10px 0;
}


.i {

  padding: 0px 30px;
  /* float:right; */
}
/* NavBar Youtube Logo Padding */

.test{
  float: left;
  font-family: 'League Gothic', sans-serif;
  
  
}

.fa-bars{
  padding: 0 25px;
}

.glass{
  font-size: 2rem;
  
}

/* SideNav */
.sidenav{
  font-size: 1rem;
  /* padding: 10px; */
  text-align: left;
  width: 220px;
}

.sidenav li:hover{
  background-color: #F4F4F4;
}

.sidenav i{
  padding-left: 15px;
  float: left;
  padding-right: 15px;
}

.copyright{
  font-size: .7rem;
}

.sidebar_foot{
  font-size:.7rem;
  padding: 10px;
}

/* Tag Button */
.tag-buttons {
  background-color:#F4F4F4;
  color:#6d6d6d;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
}

.tag:hover{
  background-color:#e0e0e0;
}

img{
  position: absolute;
  height: 276px;
  width: 365px;
  margin-top: -34px;
  /* margin-top: -60px; */
}

.img-container {
  height: 207px;
  overflow: hidden;
  position: relative;
}

.video-card{
  height:302px;
  width: 360px;
  /* background-color: rgb(0, 255, 60); */
  font-size: 1.17em;
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
}

.pfp{
  height: 45px;
  width: 45px;
  background-color: red;
  float: left;
  margin:auto;
  border-radius: 100%;
  image-rendering: -webkit-optimize-contrast;
  margin-top: 9px;
  position: relative;
}
 .vid-info{
  float: left;
  margin-top: 5px;
  position: relative;
  /* display: inline-block; */
 }

 p1{
   font-size: .8rem;
   color: rgb(77, 77, 77);
 }
p2 {
  margin-left: 48px;
  font-size: .8rem;
  color: rgb(77, 77, 77);
}
 
.video-title { 
  text-decoration: none;
  color: rgb(4, 4, 4);
}

