
  /* Grid Work */
  .grid-container{
      display: grid;
      grid-template-columns: 4fr 2fr;
      grid-template-rows: 4fr 1fr 3fr;
      height: 100vh;
      margin: 2em;
      gap: 20px;
  }

  .main-video-section{
      
  }

  .profile-img{
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;
  }

  .video-comments span{
     padding-right: 15px;
  }

  .i{
    padding: 0px 30px;
    float:right;
    
}

.side-video-playlist{
    float: left;
    
}
