
.side-bar{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.side-bar:hover{
    overflow-y: visible;
}
.sidenav {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
i, h6{
    margin-left: 1.8vw;
}
h6{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
}
.tab{
    border: 0;
    text-align: left;
    background-color: white;
    border-radius: 10%;
}
.tab:hover{
    background-color: lightgray;
}
hr{
    border: none;
    height: .15vh;
    background: lightgray;
}