::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    height: 20%;
}
::-webkit-scrollbar-thumb, .side-bar::-webkit-scrollbar-track{
    border-radius: 10px;
}
.side-bar{
    overflow: scroll;
    width: 15vw;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border-right: solid 1px lightgray; */
}
.side-bar:hover{
    overflow-y: visible;
}
.sidenav {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #030303;
    line-height: 20px;
    justify-content: flex-start;
}
.icon, .tab-label{
    margin-left: 1.8vw;
}
.tab-label{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
}
.tab{
    border: 0;
    text-align: left;
    background-color: white;
    border-radius: 10%;
}
.tab:hover{
    background-color: lightgray;
}
.seperator{
    border: none;
    height: .15vh;
    background: lightgray;
}