/* Imports */
@import "header.css";

/* Body */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #282828;
}

/* Grid Container  */
.item1 { grid-area: header; }
.item2 { grid-area: menu;}
.item3 { grid-area: main; }


/* .grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 20px;
  padding: 10px;
} */
/* 
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */


/* Search Bar */
input,text{
    width: 450px;
    font-size: 1.25rem;
}
.wrapper {
    border:1px solid #000;
    display:inline-block;
}


input,
button {
    background-color:transparent;
    border:0;
}


/* List Style */
li{
    list-style: none;
    padding: 10px 0;
}


.i{
    padding: 0px 30px;
    float:right;
    
}

/* NavBar Youtube Logo Padding */

.test{
    float: left;
    font-family: 'League Gothic', sans-serif;
    
    
}

.fa-bars{
    padding: 0 25px;
}

.glass{
    font-size: 2rem;
    
}

/* Grid Work Video Section */
  .grid-container-video{
      display: grid;
      grid-template-columns: 4fr 2fr;
      grid-template-rows: 4fr 1fr 3fr;
      height: 100vh;
      margin: 2em;
      gap: 20px;
     max-width: fit-content;
  }


  /* Video Section */
.main-video-section{
    max-width: 1000px;
    line-height: 2;
  }

.profile-img{
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;
  }

  .video-comments span{
     padding-right: 15px;
  }


.side-video-playlist{
    float: left;
    max-width: 480px;
    
}

.tag-button{
    background-color:#F4F4F4;
    color:#808080;
    margin: 0 15px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%
  }
  
  .tag-button:hover{
    background-color:#e0e0e0;
  }
  
