/* Imports */
@import "header.css";
@import 'sideBar.css';

/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #282828;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
  'header header'
  'main side'
  
  ;
  height: 100vh;
  margin: 2em;
  gap: 20px;
  max-width: 1500px;
}

.header{
  grid-area: header;
}
/* List Style */
li{
    list-style: none;
    padding: 10px 0;
}


.i{
    padding: 0px 30px;
    float:right;
    
}

hr{
  border: none;
  height: 1px;
 background-color: #DDDDDD;
  
}


  /* Video Section */
.main-video-section{
  grid-area: main;
    max-width: 1000px;
    line-height: 2;
  }
  
.profile-img{
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;
  }



/* Side Video Bar */
.side-video-playlist{
  grid-area: side;
    float: left;
    max-width: 480px;

}

.side-video-grid{
  display: flex;
  flex-direction: column;
  
}
.side-video-grid p{
  justify-content: end;
}

.video-title img{
  width: 168px;

}

/* Video Description Grid */
.video-description-grid{
  display: grid;
  grid-template-columns:.2fr 4fr 1fr;
  grid-template-rows: .2fr 1fr;
  grid-template-areas:
  'profile name subscribed '
  'description description description '
  ;
}
.video-description{
  grid-area: profile;
  text-align: center;
  padding-bottom: 0px;
  
}

.video-description image{
  float: left;
  margin: 5px;
  
}
.channel-subs{
  grid-area: name;
 line-height: 0;
 
 
}
.channel-subs p{
  font-size: .8rem;
  color:#404040 ;
  
}

.subscribe-button{
  grid-area: subscribed;
}
.description{
  grid-area: description;
}


/* Buttons */
.tag-button{
    background-color:#F4F4F4;
    color:#808080;
    margin: 0 15px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%
  }
  
  .tag-button:hover{
    background-color:#e0e0e0;
  }
  

.comment-button,.subscribe,.cancel{
  background-color:#3273dc  ;
  color:white;
  margin: 0 15px;
  width: 130px;
  height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
}


.hidden{
  display: none;
}


.cancel{
  background-color: white;
  color: #404040;
}

.subscribe{
  background-color: #c00;

}


.delete-button{
  background-color: #FF0000;
  color: white;
  width: 40px;
}
.delete-button:hover{
  background-color: darkred;
}



.edit-button{
  background-color: darkgray;
  color: white;
  width: 40px;
}

.edit-button:hover{
  background-color: grey;
}


.edit-delete input{
  float: right;
}

/* Comments */

input[type=text]{
  width: 98%;
  outline: none;
  border-bottom: 1px solid #ccc;
 
}

input[type=text]:focus{
  display: inline-block;
  position: relative;
  border-color: #282828;
}

.comments{
  display: grid;
  grid-template-columns:.1fr 3fr .1fr;
  grid-template-rows: 1fr .5fr;
  grid-template-areas: 
  'user comment edit'
  'user reply reply'
  ;
}
.user-img{
  grid-area: user;
}

.user-name{
  grid-area: comment;
  line-height: 0;
  padding-top: .2px;
}
.like-reply{
  grid-area: reply;
}

.like-reply button{
  cursor: pointer;
  word-spacing: 1rem;
  border: none;
  background-color: white;
}
.edit-pin{
  float: right;
  cursor: pointer;
  border: none;
  background-color: white;
  grid-area: edit;
  
}

.comment-length{
  text-indent: 50px;
}

/* Video Title Description Likes Name */
.video-title-likes{
  display: flex;
  justify-content: space-between;
}

.video-title-icons{
  word-spacing: 1rem;
 
  

}
.video-title-icons i{
  padding-right: 10px;
  
}

.video-title-icons button{
  cursor: pointer;
  background-color: white;
  border: none;
}
