/* Imports */
@import "header.css";
@import 'sideBar.css';

/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
  color: #282828;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows:4fr 1fr;
  grid-template-areas:
  'header header'
  'main side'
  
  ;
  height: 100vh;
  margin: 2em;
  gap: 20px;
  max-width: 1500px;
}

.header{
  grid-area: header;
}
/* List Style */
li{
    list-style: none;
    padding: 10px 0;
}


.i{
    padding: 0px 30px;
    float:right;
    
}

hr{
  border: none;
  height: 1px;
 background-color: #DDDDDD;
  
}
.views-date {
  font-size: 14px;
  color: grey;
}


  /* Video Section */
.main-video-section{
  margin-left: 5vw;
  grid-area: main;
    max-width: 1000px;
    line-height: 2;
  }
  
.profile-img{
    aspect-ratio: 1;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    float: left;
    /* padding-right: 10px; */
  }



/* Side Video Bar */
.side-video-playlist{
  grid-area: side;
  float: left;
  max-width: 480px;
 


}
a{
  text-decoration: none;
}

.side-video-grid{
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  
}
.video-comments {
  position: relative;
}
.video-card-info{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 10px 0;
}

.video-thumbnail {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 18vh;
}
.video-thumbnail img{
  width: 15vw;
  height: 27vh;
}

.video-card-title {
  margin-left: 10px;
}
.video-card-title h5{
  font-weight: bold;
  font-size: 1rem;
  width: 250px;
}

.video-card-title h6{
  font-size: .8rem;
  color: #696969;
}

.current-video{
  /* margin-left: 5vw; */

}
iframe{
  width: 60vw;
}
/* Video Description Grid */
.video-description-grid{
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: .5fr 4fr 1fr;
  grid-template-rows: 75px 100px;
  grid-template-areas:
  'profile name subscribed '
  '. description description '
  ;
}
.toggle-overflow-visiblity{
  overflow: visible;
}
.show-more {
  position: absolute;
  top: -50px;
  left: 85px;
  font-size: 14px;
  color: grey;
  cursor:pointer;
}
.video-description{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: profile;
  text-align: center;
  padding-bottom: 0px;
  
}

.video-description image{
  float: left;
  margin: 5px;
  
}
.channel-subs{
  grid-area: name;
 line-height: 0;
 padding-left: 5px;
 
 
}
.channel-subs p{
  font-size: .8rem;
  color:#404040 ;
  
}

.subscribe-button{
  grid-area: subscribed;
  border-radius: 5px;
}
.description{
  font-size: 14px;
  grid-area: description;
  padding-left: 5px;
  overflow: hidden;
}

.tags {
  overflow:scroll;
}
/* Buttons */
.tag-button{
    background-color:hsl(0, 0%, 93%);
    color:black;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: 1px solid hsl(0, 0%, 83%);
    border-radius: 20px;
    box-shadow: none;

  }
  
  .tag-button:hover{
    background-color:#e0e0e0;
  }
  

.comment-button,.subscribe,.cancel{
  background-color:#3273dc  ;
  color:white;
  margin: 0 15px;
  width: 130px;
  height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
}


.hidden{
  display: none;
}


.cancel{
  background-color: white;
  color: #404040;
}

.subscribe{
  background-color: #c00;
  border-radius: 2px;
  border: none;

}


.delete-button{
  background-color: #FF0000;
  color: white;
  width: 40px;
}
.delete-button:hover{
  background-color: darkred;
}



.edit-button{
  background-color: darkgray;
  color: white;
  width: 40px;
}

.edit-button:hover{
  background-color: grey;
}


.edit-delete input{
  float: right;
}

/* Comments */

#addingcomment{
  width: 98.5%;
  outline: none;
  border-bottom: 1px solid #ccc;
 
}

#addingcomment:focus{
  display: inline-block;
  position: relative;
  border-color: #282828;
}

.comments{
  display: grid;
  grid-template-columns:.1fr 3fr .1fr;
  grid-template-rows: 150px .5fr;
  grid-template-areas: 
  'user comment edit'
  'user reply reply'
  ;
}
.user-img{
  grid-area: user;
}
.replies {
  display: flex;
  flex-direction: column;
}
.user-name{
  grid-area: comment;
  line-height: 1;
  padding-top: .2px;
}
.like-reply{
  grid-area: reply;
}

.like-reply button{
  cursor: pointer;
  word-spacing: 1rem;
  border: none;
  background-color: white;
}
.edit-pin{
  float: right;
  cursor: pointer;
  border: none;
  background-color: white;
  grid-area: edit;
  
}

.comment-length{
  text-indent: 50px;
}

/* Video Title Description Likes Name */
.video-title-likes{
  display: flex;
  justify-content: space-between;
}

h4 {
  margin: 0 !important;
}
.channel-subs h5{
  font-weight: bold;
  font-size: 1rem;
}

.video-title-icons i{
  padding-right: 10px;
  
}

.video-title-icons button{
  cursor: pointer;
  background-color: white;
  border: none;
}
